code
{
display: inline-block;
border: 1px solid;
border-color: #CCC;
background-color: #E5E5E5;
padding: 0 .3em;
border-radius: 5px;
font-size:16px;
}

.sourceCode code 
{
box-sizing: border-box;
width: 100%;
overflow: scroll;
border: 1px solid;
padding: .5em;
border-color: #888;
background-color: #DDD;
}

body
{
width: 700px;
margin: 40px auto;
line-height: 1.6;
font-size:16px;
color: #444;
background-color: #EEE;
padding: 0 20px;
font-family: sans-serif;
}

h1,h2,h3,h4,h5,h6
{
line-height: 1.2;
}

h1
{
background-color: #C8CEEB; 
}

h2
{
background-color: #DDE1F2;
}

h3
{
color: #3A4681;
text-decoration: underline;
}

h4
{
text-decoration: underline;
}

img
{
width:100%;
}
